[Desktop Entry]
Name=Files Converter
Comment=Convert files to different formats
Exec=files-converter
Icon=files-converter
Terminal=false
Type=Application
Categories=Utility;FileTools;